@model  Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>,IEnumerable<SelectListItem>>


@{
    ViewBag.Title = "Home Page";
}

<fieldset>
    <legend>
        Restaurant
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    Customer:
                    @Html.DropDownList("Customer", new SelectList(Model.Item1,"Value","Text"), 
                        new {@class = "form-control"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    Payment Type:
                    @Html.DropDownList("PaymentType", new SelectList(Model.Item3,"Value","Text"), 
                        new {@class = "form-control"})
                </div>
            </div>

        </div>
    </div>
</fieldset>